[package]
name = "monster_chess"
version = "0.1.0"
edition = "2021"

[profile.release]
debug = true

[dependencies]
arrayvec = "0.7.2"
shell-words = "1.1.0"

[dev-dependencies]
criterion = "0.4"

[[bench]]
name = "chess-perft"
harness = false
